<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Visualizar poducto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col style="margin-top: 5px; margin-left: 20px; margin-bottom: 5px;">
        {{producto.calificacion}} <ion-icon name="star"></ion-icon>
      </ion-col>
      <ion-col style="margin-top: 5px; margin-bottom: 5px;">
        {{producto.title}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="producto.imageURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="info">
      <ion-col style="margin-left: 30px;">
        <p style="color: #311C13;">Cantidad disponible:</p>
        <p style="color: #311C13">{{producto.cantidad}} {{producto.unidadesRef}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="info">
      <ion-col style="margin-left: 30px;">
        <p style="color: #311C13">Precio:</p>
        <p style="color: #311C13">${{producto.precio}}/{{producto.unidadesRef}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="info">
      <ion-col style="margin-left: 30px;">
        <p style="color: #311C13">Precio sugerido:</p>
        <p style="color: #311C13">${{producto.precioSugerido}}/{{producto.unidadesRef}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
