<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/inicio-vendedor"></ion-back-button>
    </ion-buttons>
    <ion-title class="espacio5">Agregar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input placeholder="Write a Title" type="text" #title></ion-input>
          <ion-input placeholder="50" type="text" #cantidad></ion-input>
          <ion-input placeholder="Kg" type="text" #unidadesRef></ion-input>
          <ion-input placeholder="5000" type="text" #precio></ion-input>
          <ion-input placeholder="http://imagewebsite.com" #imageURL></ion-input>
          <ion-input placeholder="Juan" type="text" #nameVend></ion-input>
          <!-- <ion-button color="primary" (click)="saveNewProducto(title, cantidad, unidadesRef, precio, imageURL, nameVend)">
            Save
          </ion-button> -->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
